﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PaginationModel<VMMMenu>
<div class="card">
    <div class="card-header h3 bg-primary"><b>Menu</b></div>
    <div class="card-body">
        <form id="frmFind" asp-action="Index">
            <input type="hidden" name="orderby" value="@ViewBag.orderBy" />
            <div class="d-flex justify-content-between">
                <div class="input-group w-25">
                    <input id="txtFilter" name="Filter" placeholder="Search By Name" class="form-control" value="@ViewBag.Filter" />
                </div>
                <button id="btnAdd" type="button" class="btn btn-circle btn-primary">Tambah</button>
            </div>
        </form>


        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="table table-borderless mt-1">
                    <thead class="bg-primary">
                        <tr>
                            <th class="col-2"><a class="link-light" asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderby="@ViewBag.OrderName">NAMA</a></th>

                            <th class="col-2"><b>#</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (VMMMenu role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td class="btn-group">
                                    <button data-roleid="@role.Id" class="btn btn-primary btnUbah" data-toggle="tooltip" title="Ubah"><b>Ubah</b></button>
                                    <button data-roleid="@role.Id" class="btn btn-danger btnHapus" data-toggle="tooltip" title="Hapus"><b>Hapus</b></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="btn-group float-end">
                    <a asp-action="Index" class="btn @(Model.PageIndex < 2 ? "disabled" : "")"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-orderby="@ViewBag.OrderBy"
                       asp-route-pagenumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex - 1)"
                       title="Previous Page">
                        &lt;&lt;
                    </a>
                    <span class="input-group-text">@Model.PageIndex</span>
                    <a asp-action="Index" class="btn @(Model.PageIndex >= Model.TotalPages ? "disabled" : "")"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-orderby="@ViewBag.OrderBy"
                       asp-route-pagenumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex + 1)"
                       title="Next Page">
                        &gt;&gt;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
