﻿@model VMVWDoctor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    string[] lokasi = ViewBag.Option.LocationName.Split(',');
    string[] spesialisasi = ViewBag.Option.SpecializationName.Split(',');
}

<div class="card">
    <div class="card-header h3 bg-primary text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>
    <form id="frmSearchDoctor" method="post" asp-controller="Doctor" asp-action="SearchDoctor">
        <div class="card-body">
            <label class="form-label">Lokasi</label>
            <select id="locationOption" name="LocationName" class="form-control m-auto">
                <option value="">--- Pilih ---</option>
                @foreach (string option in lokasi)
                {
                    <option value="@option">@option</option>
                }
            </select>
            <label class="form-label mt-3">Nama Dokter</label>
            <input id="doctorNameInput" class="form-control" type="text" name="Fullname" />
            <label class="form-label mt-3">Spesialisasi/Sub-spesialisasi<sup>*</sup></label>
            <select id="specializationOption" name="SpecializationName" class="form-control m-auto">
                <option value="">--- Pilih ---</option>
                @foreach (string option2 in spesialisasi)
                {
                    <option value="@option2">@option2</option>
                }
            </select><br />
            <label class="form-label mt-1">Tindakan Medis</label>
            <select id="treatmentOption" name="TreatmentName" class="form-control col-4 m-auto">
                <option value="">--- Pilih ---</option>
            </select>
        </div>
        <div class="card-footer text-end">
            <button type="reset" id="" class="btn btn-white text-primary border-primary" title="Atur Ulang">
                Atur Ulang
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
            @*<button type="submit" class="btn btn-primary" title="Cari" onclick="alert('test')">
                Cari
            </button>*@
        </div>
    </form>
</div>

<script>
    //$("#btnUlang").click(function () {
    //    // Hapus semua field
    //    $("#locationOption").val('');
    //    $("#doctorNameInput").val('');
    //    $("#specializationOption").val('');
    //    $("#treatmentOption").empty();
    //    $("#treatmentOption").append(`<option value="">--- Pilih ---</option>`);
    //});

    $("#frmSearchDoctor").validate({
        rules: {
            SpecializationName: {
                required: true
            }
        },
        errorClass: "text-danger",
        //errorLabelContainer: "#error-message",
        //debug: true,
        messages: {
            SpecializationName: {
                required: "Specialization Name is required!",
            }
        }
    });

    $("#frmSearchDoctor").submit(function (event) {
        if ($("#frmSearchDoctor").valid()) {
            debugger;
            //var formData = new FormData($(this)[0]);
            //event.preventDefault();
            //$.ajax({
            //    url: "/Patient/SearchDoctor",
            //    type: "post",
            //    data: formData,
            //    dataType: "json",
            //    contentType: false,
            //    processData: false,
            //    beforeSent: function () {
            //        // Melakukan proses sebelum memanggil Controller
            //    },
            //    success: function (apiResponse) {
            //        // Proses setelah Controller selesai
            //        if (apiResponse.success) {
            //            debugger;
            //            location.reload();
            //        }
            //        else {
            //            alert(apiResponse.message);
            //            debugger;
            //            return false;
            //        }
            //    },
            //    error: function (errResponse) {
            //        // Proses ketika Controller terjadi kesalahan
            //        alert("Search Doctor Process Failed!");
            //        debugger;
            //        return false;
            //    }
            //});
        }
    });

    $("#specializationOption").change(function () {
        if ($(this).val() != "") {
            var specName = $(this).val();
            debugger;
            $.ajax({
                url: "/Doctor/GetAllDoctorTreatment/",
                data: { specializationName: specName },
                dataType: "json",
                beforeSent: function () {
                    // Melakukan proses sebelum memanggil Controller
                },
                success: function (apiResponse) {
                    // Proses setelah Controller selesai
                    if (apiResponse.success) {
                        $("#treatmentOption").empty();
                        $("#treatmentOption").append(`<option value="">--- Pilih ---</option>`);
                        $.each(
                            apiResponse.data,
                            function (idx, val) {
                                $("#treatmentOption").append(`<option value="${val.treatmentName}">${val.treatmentName}</option>`);
                            }
                        );
                        debugger;
                    }
                    else {
                        alert(apiResponse.message);
                        debugger;
                        return false;
                    }
                },
                error: function (errResponse) {
                    debugger;
                    // Proses ketika Controller terjadi kesalahan
                    alert("Get Doctor Treatment Process Failed!");
                    return false;
                }
            });
        }
        else {
            $("#treatmentOption").empty();
            $("#treatmentOption").append(`<option value="">--- Pilih ---</option>`);
        }
    });
</script>