﻿@using Med322a.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card border">
    <div class="card-header h3 bg-primary text-center"><b>@ViewBag.Title</b></div>
    <div class="card-body">
        <form id="frmFind">
            <input type="hidden" name="orderby" value="@ViewBag.OrderBy" />
            <div class="d-flex justify-content-between mb-3">
                <div class="input-group w-25">
                    <input id="txtFilter" name="filter" placeholder="Find..." class="form-control" value="@ViewBag.Filter" />
                    @*<div class="input-group-append">
                        <span id="btnFilter" class="btn btn-info"><i data-feather="search"></i></span>
                    </div>*@
                </div>
                <button id="btnAdd" class="btn-lg btn-success float-end" type="button" title="Add..."><i class="bi bi-plus-lg"></i></button>
            </div>
        </form>

        <table class="table table-bordered">
            <thead class="bg-black">
                <tr>
                  @*<th class="col-1"><a asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderId">ID</a></th>*@                    
                    <th class="col-3 text-center"><a asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderName">Name</a></th>
                    <th class="col-3 text-center"><a asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderVaCode">VA Code</a></th>
                    <th class="col-3 text-center">Di Ubah Oleh</th>
                    <th class="col-3 text-center text-primary">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VMMBank bank in Model)
                {
                    <tr>
                        @*<td>@bank.Id</td>*@
                        <td class="text-center">Bank @bank.Name</td>
                        <td class="text-center">@bank.VaCode</td>
                        @if(bank.ModifiedBy == null)
                        {
                            <td class="text-center">""</td>

                        }
                        else
                        {
                            <td class="text-center">@bank.ModifiedBy</td>
                        }
                        <td>
                            <div class="btn-group-sm d-flex justify-content-center">
                                <button data-bankid="@bank.Id" type="button" class="btnEdit btn-sm btn-success" title="Edit..."><i class="bi bi-pencil-square"></i></button>
                                <button data-bankid="@bank.Id" type="button" class="btnDelete btn-sm btn-danger" title="Delete..."><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="btn-group text-center float-end">
                            <a asp-action="Index"  class="btn @(Model.PageIndex < 2 ? "disable" : "")"
                               asp-route-filter="@ViewBag.Filter"
                               asp-route-orderBy="@ViewBag.OrderBy"
                               asp-route-pagenumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex-1)"
                               title="Previous Page...">
                               &lt;&lt;
                            </a>
                            <span class="input-group-text">@Model.PageIndex </span>
                            <a asp-action="Index" title="Next Page..." class="btn @(Model.PageIndex >= Model.TotalPages ? "disable" : "")"
                               asp-route-filter="@ViewBag.Filter"
                               asp-route-orderBy="@ViewBag.OrderBy"
                               asp-route-pagenumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)">
                                &gt;&gt;
                            </a>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#btnAdd").click(function()  {
            $("#myModalBody").load("/Bank/Add/")
            $("#myModal").modal("show");
        });
        $(".btnDelete").click(function () {
            var bankId = $(this).data("bankid");
            $("#myModalBody").load("/Bank/Delete/" + bankId);
            $("#myModal").modal("show");
        });
        $(".btnEdit").click(function() {
            var bankId = $(this).data("bankid");
            $("#myModalBody").load("/Bank/Update/" + bankId);
            $("#myModal").modal("show");
        });
        $("#txtFilter").keydown(function(e) {
            if(e.keyCode == 13){
                $("#frmFind").submit();
            }
        });
    })
</script>